#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  margin-bottom: 30%;
}

.logo {
  height: 3em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #e0e0e0aa);
}

.small {
  opacity: 0;
  margin: 0;
  padding: 0;
  font-size: xx-small;
  transition: opacity 0.5s linear;
}

.title {
  margin: 0;
  padding: 0;
}

.title:hover + .small {
  opacity: 1;
}

.card {
  margin: 50px;
  padding: 2em;
}