.Nav {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
}

.blink {
    left: 1%;
    position: absolute;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.navbtn {
    margin: 0 1%;
    padding: 0 1%;
    color: white;
    letter-spacing: .12em;
    transition: all 0.25s linear;
}

.navbtn:hover {
    padding: 1%;
    background-color: rgba(154, 154, 154, 0.32);
    color: rgb(255, 255, 255);
    border-bottom: grey 2px solid;
}